<!--- definiendo estilos CSS o HTML -->

body {
  text-align: justify;           #- justificar el texto del body
  background-color: lightblue;
  line-height:1.6;               #- anchura de las lineas 1.0 is the default in Firefox. 2.0 provides a large space
}

p {
  text-align: justify;           #- justificar el texto del body
  background-color: lightblue;
  line-height:1.6;               #- anchura de las lineas 1.0 is the default in Firefox. 2.0 provides a large space
  margin: 20px 0 20px 0;         #- top, izquierda, abajo, left
}


h4, h5 {
  color: darkblue; 
  margin-left: 5px;
}


h1, h2 {
  color: darkblue; 
  font-weight: bold;
}

.blue { background-color:#e6f0ff; border-radius: 4px; padding: 13px;}  

.darkkhaki { background-color:#bdb76b; border-radius: 4px; padding: 13px;}  

