<!--- definiendo estilos CSS o HTML -->

body {
  text-align: justify;           #- justificar el texto del body
  background-color: lightblue;
  line-height:1.6;               #- anchura de las lineas 1.0 is the default in Firefox. 2.0 provides a large space
}

p {
  text-align: justify;           #- justificar el texto del body
  background-color: lightblue;
  line-height:1.6;               #- anchura de las lineas 1.0 is the default in Firefox. 2.0 provides a large space
  margin: 20px 0 20px 0;         #- top, izquierda, abajo, left
}


h4, h5 {
  color: darkblue;
  margin-left: 5px;
}


h1, h2 {
  color: darkblue;
  font-weight: bold;
}

.blue { background-color:#e6f0ff; border-radius: 4px; padding: 13px;}

.darkkhaki { background-color:#bdb76b; border-radius: 4px; padding: 13px;}

.crimson { background-color:#DC143C; border-radius: 4px; padding: 13px;}

.medium-aquamarine { background-color:#66CDAA; border-radius: 4px; padding: 13px;}

.tan { background-color:#D2B48C; border-radius: 4px; padding: 13px;}

.sandy-brown { background-color:#F4A460; border-radius: 4px; padding: 13px;}

.wheat { background-color:#F5DEB3; border-radius: 4px; padding: 13px;}

.turquoise { background-color:#AFEEEE; border-radius: 4px; padding: 13px;}

.lavender { background-color:#E6E6FA; border-radius: 4px; padding: 13px;}

.lavender-2 { background-color:#D8BFD8; border-radius: 4px; padding: 13px;}

.light-steel { background-color:#B0C4DE; border-radius: 4px; padding: 13px;}


.antique { background-color:#FAEBD7; border-radius: 4px; padding: 13px;}

.gris-gainboro { background-color:#DCDCDC; border-radius: 4px; padding: 13px;}

#- https://htmlcolorcodes.com/es/nombres-de-los-colores/
